@import "../variables.scss";

.logout-button {
  position: fixed;
  right: 3rem;
  top: 3rem;
}

.home-page {
  margin: 7rem;
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 40vh 40vh;

  .title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;

    .logo-container {
      display: flex;
      width: 40rem;
      align-items: center;

      .swords {
        margin: 0 -5rem 0 -5rem;
        width: 20rem;
        height: 13.5rem;
      }
    }
  }

  .statistics-container {
    display: flex;
    justify-content: center;
    align-items: center;

    &-internal {
      width: 25rem;
      flex-direction: column;

      .table-title {
        &-container {
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &__title {
          margin: 0 1rem 0 1rem;
        }

        &__listing {
          margin: 1rem 0 0 0;
          display: flex;
          justify-content: space-between;
        }
      }
    }
  }

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 45rem;
    margin-top: 7rem;
  }
}
