@import "../variables.scss";

.home-page {
  margin: 7rem;
  display: grid;
  grid-template-columns: 40vw 40vw;
  grid-template-rows: 40vh 40vh;

  .button-container {
    display: flex;
    justify-content: space-between;
    width: 45rem;
    margin-top: 7rem;
  }

  .title-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
