@import './LoginBox.scss';

.home-button {
  background-color: #7f8bfb;
  border: none;
  color: white;
  padding: 2rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 1.6rem;
  margin: 0.4rem 0.2rem;
  border-radius: 2.5rem;
}