$montserrat-sanf-serif: "Montserrat", sans-serif;
$roboto-sans-serif: "Roboto", sans-serif;
$bold-font: 900;
$text-small-minus: 13px;
$text-small: 16px;
$text-small-plus: 18px;

//colors
$gray: rgb(134, 134, 134);
$dark-gray: #4a4646;
$purple: #877dfe;
$dark-purple:#6a59ff;
$white: #ffffff;
$blue: #4983b7;


//opacity animation
@keyframes fadeInAnimation {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes fadeOutAnimation {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
  }
}