@import "../../variables.scss";

.generic-button {
  border-radius: 2rem;
  height: 3.75rem;
  width: 20rem;
  border: 1px solid $gray;
  cursor: pointer;
  font-size: $text-small;
  background-color: $purple;
  color: $white;
  transition-duration: 0.25s;

  &:hover {
    background-color: $dark-purple;
  }

  &:focus {
    outline: none;
  }
}

.outline {
  background-color: $white;
  color: $dark-purple;
  border: $dark-purple 1px solid;

  &:hover {
    color: $white;
  }
}
