@import '../../variables.scss';

.black {
  color: $black
}

.light-gray {
  color: $light-gray;
}

.gray {
  color: $gray;
}

.dark-gray {
  color: $dark-gray;
}

.red {
  color: red;
}

.pointer {
  cursor: pointer;
}

.green {
  color: green;
}

.flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}