@import '../variables.scss';

.generic-button {
  border-radius: 2rem;
  height: 3.75rem;
  width: 20rem;
  border: 1px solid $gray;
  cursor: pointer;
  font-size: $text-small;
  background-color: $purple;
  color: $white;

  &:focus {
    outline: none;
  }
}