@import '../variables.scss';

.message-container {
  margin: 1rem 0 1rem 0;
  display: flex;
  justify-content: left;
  align-self: flex-start;
  font-size: $text-small-minus;
}

.red {
  color: red;
}

.green {
  color: green;
}

.error-svg {
  width: 1.5rem;
  margin-right: 0.5rem;
  filter: invert(15%) sepia(81%) saturate(7474%) hue-rotate(359deg) brightness(95%) contrast(111%); //not ideal
}

.hidden {
  display: none;
}
