@import '../variables.scss';

.register-page {
    height: 100vh;
    width: 100vw;
    background: rgb(2,0,36);
    background: linear-gradient(63deg, rgba(2,0,36,1) 0%, rgba(118,45,157,0.700717787114846) 39%, rgba(0,212,255,1) 100%);
    display: flex;
    justify-content: center;
    align-items: center;

    &__box {
        width: 50rem;
        height: 35rem;
        border-radius: 10px 10px;
        background-color: white;
        display: flex;
        justify-content: space-around;
        align-items: center;

        .image {
            width: 20rem;
        }

        .login-form-container {
            width: 17rem;
            display: flex;
            flex-direction: column;
        }

        .left-container {
            display: flex;
            flex-direction: column;
            align-items: center;
            font-family: $roboto-sans-serif;
            font-weight: $bold-font;
            flex-wrap: wrap;
            font-size: 40px;

            .text-container {
                text-align: center;
                margin-bottom: 60px;
                letter-spacing: 1px;
            }
        }
    }
}
